:root{

    --color-nav:rgba(1, 175, 87, 0.4);
    --color-button:#01AF57;
    --color-nav-text:#1F2420;
    --color-bg-box:rgba(138, 222, 155, 0.2);
    --color-font--main:#395157;
    --color-font--subtext:#4D5B50;
    --color-bg:#F6FFFA;

    --color-safety:#01AF57;
    --color-safety-message-box:rgba(31, 36, 32, 0.9);


    --border-radius:4px;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}
body{
    line-height: 1;
}
.container {
    position: absolute;
    background-color:var(--color-bg);
    display: flex;
}

.navbar{
    position: relative;
    background-color:var(--color-nav);
    backdrop-filter: blur(32px);
    display: flex;
    flex-wrap: wrap;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    height: 4em;
    font-size: 1rem;
    z-index: 1;
}
.nav-item-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-width: calc(100% - 80px);
    align-items: center;
}
.logo
.nav-item-wrapper{
    padding-top: 0.5rem;
}

a , li ,button{
    text-decoration: none;
    list-style: none;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 2rem;
    gap: 0 3em;
}
a{
    cursor: pointer;
}
.nav-item{
    transition: all 0.3s ease 0s;
}
.nav-item:hover{
   transform: translateY(-7px);
}

.button{
    display: flex;
    background-color: var(--color-button);
    border-radius:var(--border-radius);
    width: 121px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #F6FFFA;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.button:hover{
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    background-color: #FFFFFF;
    color:var(--color-button);
    transform: translateY(-7px);
}
.button-main{
    min-width: 100%;
    text-decoration: none;
}
.nav-dropdown{
    display: none;
}

.background-box{
    position: absolute;
    background: var(--color-bg-box);
    display: flex;
    aspect-ratio: 0.77;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 16%;
    color:var(--color-font);
}

.box-wrapper{
    display: flex;
    position: relative;
    min-width: 100vw;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}

.text-wrapper{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-txt{
    font-family: 'Helvetica Neue Medium Extended';
    font-weight: 500;
    font-size: 6vw;
    line-height: 6.9vw;
}

.subtxt{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 3vw;
    line-height: 3.7vw;
}

.box1{
    height: 20vw;
    top: 0%;
    left:0%;
}   
.box2{
    height: 16vw;
    top:4%;
    left:64%;
}
.box3{
    height: 20vw;
    top: 0%;
    left:87%;
}
.box4{
    height: 20vw;
    top: 43%;
    left:2%;
}
.box5{
    height: 16vw;
    top: 38%;
    left:32%;
}
.box6{
    height: 17vw;
    top: 49%;
    left:74%;
}


.safety-container{
    display: flex;
    position: relative;
    min-width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.safety-big-div{
    position: relative;
    background-color: var(--color-bg-box);
    aspect-ratio: 1.286;
    height: 42vw;
    flex-shrink: 10;
    border-radius: 12px;
}
.safety-message-wrapper{
    height: 43vw;
    aspect-ratio: 0.823;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.safety-message-heading{
    color: var(--color-bg);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-left: 28px;
    font-size: 1.325rem;
    position: absolute;
    top: 18%;
    left:0%;
    line-height: 2.25rem;
}
.safety-message-subtxt{
    color: var(--color-bg);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding: 0 28px;
    font-size: 1.075rem;
    position: absolute;
    line-height: 1.45rem;
    top:25%;   
}
.safety-sticker{
    display: flex;
    background-color: var(--color-button);
    width: 100%;
    aspect-ratio: 6.94;
    backdrop-filter: blur(41px);
    border-radius:8px ;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-nav-text);
    font-size: 1.325rem;
    font-weight: 600;
    align-items: center;
    padding-left: 28px;
}
.safety-message{
    width:100%;
    aspect-ratio: 2.083;
    background-color: var(--color-safety-message-box);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 650px) {
    .nav-item{
        display: none;
    }
    .nav-dropdown{
        display: block;
        cursor: pointer;
    }
    .svg:hover{
        fill: #F6FFFA;
    }
    .button{
        font-weight: 600;
        width: 75px;
        height: 29px;
    }
}
@media (max-width: 900px) {
    .box1{
        height:29vw;
        top: 0%;
        left:0%;
    }   
    .box2{
        height: 29vw;
        top:4%;
        left:64%;
    }
    .box3{
        height: 20vw;
        top: 0%;
        left:87%;
        display: none;
    }
    .box4{
        height: 26vw;
        top: 43%;
        left:2%;
    }
    .box5{
        height: 17vw;
        top: 33%;
        left:32%;
    }
    .box6{
        height: 19vw;
        top: 42%;
        left:80%;
    }
    .safety-message-subtxt {
        color: var(--color-bg);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        padding: 0 28px;
        font-size: 0.775rem;
        position: absolute;
        line-height: 1.05rem;
        top: 25%;
    }
    .safety-message-heading {
        color: var(--color-bg);
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        padding-left: 28px;
        font-size: 1.125rem;
        position: absolute;
        top: 18%;
        left: 0%;
        line-height: 1.25rem;
    }
    .safety-sticker {
        display: flex;
        background-color: var(--color-button);
        width: 100%;
        aspect-ratio: 6.94;
        backdrop-filter: blur(41px);
        border-radius: 8px;
        font-family: 'Source Sans Pro', sans-serif;
        color: var(--color-nav-text);
        font-size: 1.125rem;
        font-weight: 600;
        align-items: center;
        padding-left: 28px;
    }  
}
@media (max-width: 500px) {
    .box-wrapper {
        display: flex;
        position: relative;
        min-width: 100vw;
        height: 77vh;
        justify-content: center;
        align-items: center;
    }
    .safety-container{
        justify-content: center;
    }
    .safety-message-wrapper{
        margin-top: 36px;
    }
    .box1{
        height: 35vw;
        top: 0%;
        left:0%;
    }   
    .box2{
        height: 33vw;
        top:4%;
        left:64%;
    }
    .box3{
        height: 20vw;
        top: 0%;
        left:87%;
        display: none;
    }
    .box4{
        height: 29vw;
        top: 61%;
        left:2%;
    }
    .box5{
        height: 19vw;
        top: 40%;
        left:32%;
    }
    .box6{
        height: 23vw;
        top: 52%;
        left:77%;
    }
    .main-txt{
        font-family: 'Helvetica Neue Medium Extended';
        font-weight: 500;
        font-size: 8vw;
        line-height: 9vw;
    }
    .subtxt{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 4vw;
        line-height: 5vw;
}
.safety-container {
    display: flex;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .safety-big-div {
    position: relative;
    background-color: var(--color-bg-box);
    aspect-ratio: 1.286;
    height: 55vw;
    flex-shrink: 10;
    border-radius: 12px;
  }
  .safety-message-wrapper {
    height: 83vw;
    aspect-ratio: 0.823;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }  
}
@media (min-width:1200px) {
    .main-txt{
        font-family: 'Helvetica Neue Medium Extended';
        font-weight: 500;
        font-size: 4vw;
        line-height: 5vw;
    }
    .subtxt{
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 2vw;
        line-height: 2.5vw;
    }
    
}